export RUST_LOG="search_crates_pm=debug,info"
export MEILI_HOST_PORT="7700"
export MEILI_HOST_URL="http://meilisearch:$MEILI_HOST_PORT" #production
# export MEILI_HOST_URL="http://localhost:$MEILI_HOST_PORT"
export MEILI_INDEX_UID="crates"
export MEILI_MASTER_KEY="4a1728a6a7dc2c5fff5936686ba261768b01ca0eb27363e903bf3d49a56fbde9"
export MEILI_API_KEY="$MEILI_MASTER_KEY"
export MEILI_LOG_LEVEL="info"
